{% extends "base.html" %}

{% block content %}
<section style="background-color: #eee;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{{ user.profile_picture }}" alt="avatar" class="rounded-circle img-fluid"
                        style="width: 150px;height: 200px">
                    <h5 class="my-3">username - {{ user.username }}</h5>
                    <p class="text-muted mb-1">name - {{ user.name }}</p>
                    <p class="text-muted mb-4">surname - {{ user.surname }}</p>
                    <p class="text-muted mb-4">email - {{ user.email}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Score</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.score}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Games played</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.games_played_count}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Games won</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.games_won_count}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Games lost</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.games_lost_count}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Correct guesses</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.correct_guess_count}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Wrong guesses</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.wrong_guess_count}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Tickets</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.reveal_ticket}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Credits</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{ user.credits}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<div style="text-align: center; margin-bottom: 10px;">
    <span style="font-size: larger;">Purchases:</span>
</div>

<table class="table">
    <thead class="text-center">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    {% for transaction in transactions %}
    <tbody class="text-center">
        <tr>
            <td>{{transaction.date}}</td>
            <td>{{transaction.price}}</td>
            <td>{{transaction.tickets}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}