{% extends "base.html" %}

{% block content %}

<div class="center-container">
    <legend class="border-bottom mb-4 text-center" style="color:azure;">Choose difficulty</legend>
    <h1 class="green-difficulty">
        <a class="center-text" href="/easy" style="color:azure; text-decoration:none">EASY</a>
    </h1>
    <h1 class="yellow-difficulty">
        <a class="center-text" href="/medium" style="color:azure; text-decoration:none">MEDIUM</a>
    </h1>
    <h1 class="red-difficulty">
        <a class="center-text" href="/hard" style="color:azure; text-decoration:none">HARD</a>
    </h1>
</div>
{% endblock %}