{% extends "base.html" %}

{% block content %}


<div class="center-container">
    <a style="font-size:larger; color:azure">All words are in lower case</a>
    <div>
        <a class="center-text" style="font-size:medium;font-weight:bold; color: azure ">Reveal tickets left - {{
            user.reveal_ticket
            }}</a>
    </div>
    {% for message in get_flashed_messages() %}
    <h2 class="reveal-error-message">{{ message }}</h2>
    {% endfor %}
    <div class="card-body text-center">
        <img src={{image}} alt="avatar" class=" img-fluid" style="width: 500px">
    </div>
    <a style="font-size:large; color:azure">Hint: {{ animal_type }}</a>
    <div>
        {% for spot in visuals %}
        <span style="font-size:xx-large; color:azure"> {{spot}} </span>
        {% endfor %}
    </div>
    <div>
        <a>free letters: </a>
        {% for letter in usable_letters %}
        <span style="font-size:medium ; color:azure"> {{letter}} </span>
        {% endfor %}
    </div>
    <div>
        <a style="color:azure">wrong letters: </a>
        {% for letter in wrong_letters %}
        <span style="font-size:medium; color:azure"> {{letter}} </span>
        {% endfor %}
    </div>
    <div>
        <a style="color:azure">tries left: {{tries}}</a>
    </div>

</div>
<form action="{{ url_for('add_letter_medium') }}" method="POST">
    <div class="center-div">
        <div class="input-group mb-1">
            <input pattern="[a-z]" type="text" name="letter" maxlength="1" class="form-control"
                placeholder="Guess a letter " aria-label="Letter" aria-describedby="button-addon2" required>
            <button class="btn custom-login-button" type="submit" id="button-addon2">Submit</button>
        </div>
    </div>
</form>
<form action="{{ url_for('reveal_letter_medium') }}" method="POST">
    <div class="center-text">
        <button action="{{ url_for('reveal_letter_medium') }}" method="POST" class="btn btn-sm custom-reveal-button"
            type="submit" id="button-addon2">Reveal letter</button>
    </div>
</form>
{% endblock %}