{% extends "base.html" %}

{% block content %}

<div class="center-container">

    <legend class="border-bottom mb-4 text-center">CHOOSE YOUR SPIRIT ANIMAL</legend>
    <ul class="horizontal-list">
        <li><a href="{{url_for('register_user', type='Alien_guy')}}"><img src="/static/profile_pictures/Alien_guy.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
        <li><a href="{{url_for('register_user', type='beetle')}}"><img src="/static/profile_pictures/beetle.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
        <li><a href="{{url_for('register_user', type='frustrated')}}"><img src="/static/profile_pictures/frustrated.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
        <li><a href="{{url_for('register_user', type='handsome')}}"><img src="/static/profile_pictures/handsome.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
        <li><a href="{{url_for('register_user', type='Kevin_Hart')}}"><img src="/static/profile_pictures/Kevin_Hart.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
        <li><a href="{{url_for('register_user', type='sweating')}}"><img src="/static/profile_pictures/sweating.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
        <li><a href="{{url_for('register_user', type='think_guy')}}"><img src="/static/profile_pictures/think_guy.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
        <li><a href="{{url_for('register_user', type='will')}}"><img src="/static/profile_pictures/will.jpg"
                    class="rounded-circle img-fluid" style="width: 200px;height: 150px"></a>
        </li>
    </ul>
</div>
{% endblock %}